<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas App Server </title>
</head>

<body>
    <div>
        <ul>
            <li>
                instanceUrl= <%= instanceUrl %>
            </li>
            <li>
                oauthToken= <%= oauthToken %>
            </li>
        </ul>
        <textarea>
            <%= context %>
        </textarea>
        
    </div>
</body>

</html>